<div class="main-container">
  <div class="useful-links-container">
    <div class="social-links-container">
      <a [attr.href]="socialLinks[0].url" aria-label=" facebook" target="_blank" class="icon-container"
        ngClass="icon-facebook"></a>
      <a [attr.href]="socialLinks[1].url" aria-label=" Instagram" target="_blank" class="icon-container"
        ngClass="icon-instagram"></a>
      <a [attr.href]="socialLinks[2].url" aria-label="youtube" target="_blank" class="icon-container"
        ngClass="icon-youtube"></a>
      <a [attr.href]="'mailto:contact@demoralizeband.gr' " aria-label="email" class="icon-container"
        ngClass="icon-mail"></a>
    </div>

  </div>
  <div class="flip-card no-mobile">
    <div class="flip-card-inner">
      <div class="flip-card-front">
        <div class="artwork-container">
        </div>
      </div>
      <div class="flip-card-back">
        <iframe width="580" height="580" src="https://www.youtube.com/embed/3Nxht5XkyME" title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div *ngIf="!play" class="artwork-container only-mobile">
    <button class="flex-center-play" (click)="showFavourites()"></button>
  </div>
  <div *ngIf="play" class="only-mobile">
    <iframe width="240" height="240" src="https://www.youtube.com/embed/3Nxht5XkyME" title="YouTube video player"
      frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div class="profiles-container">
    <app-profile></app-profile>
  </div>
</div>
<!-- <div class="buttons-container-mobile">
  <button aria-label="show Favourites images" type="button" class="profile-button" style="margin-right: 16px"
    [ngStyle]="{ 'background-color': selectedColor }" *ngIf="this.profiles.length > 3" (click)="toggleNext(true)">
    <div class="margin-left-x-small">Show Previous</div>
  </button>
  <button aria-label="refresh new pictures" type="button" class="profile-button"
    [ngStyle]="{ 'background-color': selectedColor }" *ngIf="this.profiles.length > 3" (click)="toggleNext(false)">
    <div class="margin-left-x-small">Show Next</div>
  </button>
</div> -->